{% extends "base_generic.html" %}

{% block title %}About{% endblock %}

{% block content %}
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="well well-sm" style="height:650px">
                <h3>How to use</h3>
                <ol>
                    <li>Create article sets in one of two ways:
                        <ul>
                            <li>Use a PubMed query</li>
                            <li>Upload a set of PubMed IDs, one per line</li>
                        </ul>
                    <li>Once created, select two article sets from table on the home page</li>
                    <li>Choose analysis options and then hit the 'Find Intermediates' button</li>
                </ol>
                <h3>Graph Metrics</h3>
                    <ul>
                        <li>45 million nodes</li>
                        <li>200 million relationships</li>
                        <li>1.7 billion properties</li>
                    </ul>
                <h3>Contact</h3>
                    <ul>
                        <li>melodi@biocompute.org.uk</li>
                    </ul>

				<h3>Citation</h3>
				<p>Benjamin Elsworth, Karen Dawe, Emma E Vincent, Ryan Langdon, Brigid M Lynch, Richard M Martin, Caroline Relton, Julian P T Higgins, Tom R Gaunt; MELODI: Mining Enriched Literature Objects to Derive Intermediates, International Journal of Epidemiology, 2018, https://doi.org/10.1093/ije/dyx251.

					<h3>Privacy Statement</h3>
					<p>Any data provided to MELODI is stored and controlled by the University of Bristol only and not passed on to any third party.
					<p>User data is requested to enhance the usability of the site and not for any commercial purposes.
					User accounts are generated solely to provide a user specific analysis environment and improve user experience.
					User accounts are handled through the Google OAuth protocol and passwords are encrypted.
					Any data associated with the creation and analysis of article sets is private unless shared, held in a secure database, and accessible only to the MELODI administrator.

        </div>
	</div>
        <div class="col-md-6">
            <div class="well well-sm" style="height:650px">
                <img class="center-block" src="/static/browser/img/melodi_overview.png" width='95%'>
            </div>
        </div>
    </div>

{% endblock %}
