{% extends "base_generic.html" %}

{% block title %}About{% endblock %}

{% block content %}
    <br>
    <div class="row">
	<div class="col-md-6">
                <h3>How to use</h3>
                <ol>
                    <li>Create article sets in one of two ways:
                        <ul>
                            <li>Use a PubMed query</li>
                            <li>Upload a set of PubMed IDs, one per line</li>
                        </ul>
                    <li>Once created, select two article sets from table on the home page</li>
                    <li>Choose analysis options and then hit the 'Find Intermediates' button</li>
                </ol>
                <br><h3>Contact</h3>
		    <p>If you have any questions/suggestions or would like to discuss a particular project in more detail please get in touch at the following address:
                    <ul>
                        <li>melodi@biocompute.org.uk</li>
                    </ul>
	</div>
	<div class="col-md-6">
                 <div align="center" class="video-container">
                        <iframe width="400" height="250" src="https://www.youtube.com/embed/cPja1KUHOpw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
	</div>
    </div>	
     <div class="row">
	<div class="col-md-12">	
			<br><h3>Terms of Use</h3>
			<p>
These terms (Terms) set out the basis on which the University of Bristol, a body incorporated by Royal Charter under number RC000648 having its administrative offices at Senate House, Tyndall Avenue, Bristol BS8 1TH (University) agrees to provide you with access to the MELODI platform (Platform) and through the Platform summary data from the academic literature.
<ol>
<li>Licence: The University grants you a non-exclusive, non-transferable revocable licence to access and use the Platform for private or non-commercial research purposes only. If you wish to access and use the Platform for commercial research purposes, please forward your enquiry to melodi@biocompute.org.uk.</li>
<li>Ownership of MELODI: Subject to paragraph 1, nothing in these Terms grants you any right to, or in, any intellectual property rights of any nature (whether existing now or in the future and whether registered or unregistered) in the Platform.</li>
<li>Downloading: You agree that you will not attempt to download data from the Platform in bulk or otherwise use the Platform in a way that would or might adversely affect the performance or operation of the Platform for other users.</li>
<li>Credits: You agree to cite any use of the Platform in the form set out in the “Citation” tab.</li> 
<li>Disclaimers: We do not guarantee that (a) the Platform will always be available or interrupted; (b) the Platform will be accurate, complete, free from errors or omissions or secure or free from bugs or viruses; or (c) that the result of using the Platform will be accurate, adequate or fit for any particular purpose. Where the Platform contains links to other sites or resources provided by third parties, these links are provided for your information only and you acknowledge that we have no control over the content of those sites or resources. All warranties, representations, conditions and all other terms of any kind whatsoever implied by statute or common law, to the fullest extent permitted by applicable, law, excluding from these Terms.</li>
<li>Limitation of liability: You assume sole responsibility for the results obtained from the use of the Platform and for conclusions drawn from such use. The University shall have no liability for any damage or other loss whatsoever arising out of or in connection with your use of the Platform. The University shall not be liable in any circumstances whether in contract, tort (including for negligence), misrepresentation (whether innocent or negligent), restitution or otherwise for any special, indirect or consequential loss, costs, damages, charges or expenses however arising under these Terms including but not limited to loss of funding or loss of opportunity, goodwill or reputation. Nothing in these Terms excludes or limits any liability which cannot be excluded or limited by applicable law.</li>
<li>Suspension and termination: The University may, at its sole discretion, suspend, withdraw, discontinue or change all or any part of the Platform (in respect of any single user, group of users or all users of the Platform) without notice and whether or not arising from any breach of these Terms. The University will not be liable to you in such circumstances.</li>
<li>Changes to these Terms: The University may revise these Terms at any time by amending this page. Please check this page from time to time to take notice of any changes, as they will be legally binding on you.</li>
<li>Governing law and jurisdiction: These Terms and any claims or disputes arising out of or in connection with them (including non-contractual disputes) shall be governed by the laws of England and Wales whose courts shall have exclusive jurisdiction to settle the same.</li>
</ol>
<br>
Please note that when you log on we keep a record of your email address on our servers to a) ensure that you obtain appropriate access to the database, b) to compile usage statistics that help us keep this project funded and c) to monitor inappropriate or unfair usage. We do NOT log the queries that are being performed, and we do NOT share your email address with anybody else.
    </div>
</div>
{% endblock %}
