{% extends "base_generic.html" %}

{% block title %}Citation{% endblock %}

{% block content %}
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">

				<h3>Citation</h3>
				<p>Benjamin Elsworth, Karen Dawe, Emma E Vincent, Ryan Langdon, Brigid M Lynch, Richard M Martin, Caroline Relton, Julian P T Higgins, Tom R Gaunt; MELODI: Mining Enriched Literature Objects to Derive Intermediates, International Journal of Epidemiology, 2018, <a href='https://doi.org/10.1093/ije/dyx251' target='_blank'>https://doi.org/10.1093/ije/dyx251</a>.

        </div>
	</div>
    </div>

{% endblock %}
